{% extends 'base.html' %}
{% load static %}
{% block title %} Any Link {% endblock %}
{% block content %}
    <div class="single-product-area">
        <div class="container">
            <div class="row">
                {% for link in link_list %}
                <h4>
                  Url: <a href="{{ link.completelink }}">{{ link.completelink }}</a>
                </h4>  
                <h4>
                  AnyLink: {{link.slug}}
                </h4>   
                <hr />
                {% endfor %}
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <div class="product-pagination text-center">
                        <nav>
                          {% if is_paginated %}
                              
                                {% if link_list.has_previous %}
                                  <a href="?page={{ link_list.previous_page_number }}">previous</a>
                                {% else %}
                                  <span>previous</span>
                                {% endif %}
                                
                                {% for i in paginator.page_range %}
                                  {% if link_list.number == i %}
                                   <span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                  {% else %}
                                   <a href="?page={{ i }}">{{ i }}</a>
                                  {% endif %}
                                {% endfor %}

                                {% if link_list.has_next %}
                                  <a href="?page={{ link_list.next_page_number }}">next</a>
                                {% else %}
                                   <span>next</span>
                                {% endif %}
                             
                            {% endif %}
                        </nav>                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}